.into{
    display: grid;
    padding: 0;
}
.img {
    width: 100%;
    
}
.header{
    z-index: 10;
    position: absolute;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.032em;
    color: #fff;
    text-transform: none;
    margin-top: 8%;
    margin-left: 5%;
}